<<<<<<< HEAD
table {            
            background-color: tan;   
            border: 5px solid black;  
            border-spacing: 10px; 
            font-family: Arial, Helvetica, sans-serif       
        }

        th {
            background-color:#800000;
            border: 2px solid #800000;
            color: white;
            padding: 10px;
        }
       
        td {
            border: 2px solid #800000;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
            border-top: 0;
            border-bottom: 0;
        }

        .th-title {
            background-color: #F5F5F5;
            border-top: 0;
            border-bottom: 0;            
            color: black;
        }
body {
		font-family: sans-serif;
}
.button {
	padding:8px 16px;
	display: inline-block;
	text-decoration: none;
	border-radius:3px;
	background-color:#ccc;
}
.button-primary {
	background:slategrey;
	color:#fff;
}
.button-primary:hover {
	background:lightslategrey;
=======
table {            
            background-color: tan;   
            border: 5px solid black;  
            border-spacing: 10px; 
            font-family: Arial, Helvetica, sans-serif       
        }

        th {
            background-color:#800000;
            border: 2px solid #800000;
            color: white;
            padding: 10px;
        }
       
        td {
            border: 2px solid #800000;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
            border-top: 0;
            border-bottom: 0;
        }

        .th-title {
            background-color: #F5F5F5;
            border-top: 0;
            border-bottom: 0;            
            color: black;
        }
body {
		font-family: sans-serif;
}
.button {
	padding:8px 16px;
	display: inline-block;
	text-decoration: none;
	border-radius:3px;
	background-color:#ccc;
}
.button-primary {
	background:slategrey;
	color:#fff;
}
.button-primary:hover {
	background:lightslategrey;
>>>>>>> 39b9fc79caa1db37a4edd2e1b2951c17173e9245
}