<<<<<<< HEAD
 table {            
            background-color: tan;   
            border: 5px solid cornflowerblue;  
            border-spacing: 10px; 
            font-family: Arial, Helvetica, sans-serif       
        }

        th {
            background-color: cornflowerblue;
            border: 2px solid cornflowerblue;
            color: white;
            padding: 10px;
        }
       
        td {
            border: 2px solid cornflowerblue;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
            border-top: 0;
            border-bottom: 0;
        }

        .th-title {
            background-color: white;
            border-top: 0;
            border-bottom: 0;            
            color: black;
        }   
        #btn1{
		      
	    position:absolute;
	    top:400px;
	     left:100px;
	    width:140px;
	    height:40px;
	     color:blue;
        background-color:gray;
         font-size:15px;


=======
 table {            
            background-color: tan;   
            border: 5px solid cornflowerblue;  
            border-spacing: 10px; 
            font-family: Arial, Helvetica, sans-serif       
        }

        th {
            background-color: cornflowerblue;
            border: 2px solid cornflowerblue;
            color: white;
            padding: 10px;
        }
       
        td {
            border: 2px solid cornflowerblue;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
            border-top: 0;
            border-bottom: 0;
        }

        .th-title {
            background-color: white;
            border-top: 0;
            border-bottom: 0;            
            color: black;
        }   
        #btn1{
		      
	    position:absolute;
	    top:400px;
	     left:100px;
	    width:140px;
	    height:40px;
	     color:blue;
        background-color:gray;
         font-size:15px;


>>>>>>> 39b9fc79caa1db37a4edd2e1b2951c17173e9245
            }		