{box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 400px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
	
	
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: center;
    padding: 0px 12px;
	padding-left:500px;
    border: 1px solid #ccc;
    width: 60%;
    border-left: none;
    height: 60%;
	display:none;
	text-align: left;
}



img {
    border-radius: 50%;
	height: 100px;
}

#a{
	text-align: right;
	width:100%;
	height: 150px;
}

#aa{
	text-align: left;
	width:40%;
	height: 50px;
	
}


.button1
{
	text-align: center;
	height:100px;
	width: 100px;
	Background-color:#ffcccc;
	position:static;
}